@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;700&family=Inconsolata&family=Orbitron:wght@400;500&display=swap');
/* Fuente general */
* {
    font-family: 'Libre Franklin', sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  main {
    flex-grow: 1;
  }
  /*Background-color del main en modo oscuro*/
  main{
    background-color: #808080 - rgb(128, 128, 128);
  }
  /*Colores Navbar y footer light*/
 nav.navbar{
    background-color: #932fa2; 
  }
.dropdown-item{
    background-color: #ce8dd8; 
}
nav ul li a{
    color: #ffffff;;
}
  /*Colores Navbar y footer dark */
 footer{
   background-color: #631291;
   color:  #ffffff;
 }

 /* Media Query para disposiitovs pequeños y medianos*/
/*Pequeños*/
@media all and (max-width: 576px){

}
/*Medianos*/
@media all and (min-width: 577px) and (max-width: 991px){

}
